<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>CazaOfertas</name>

<description>
Aplicación para buscar las mejores ofertas cercanas!
</description>

<author href="https://wwww.cf-creations.com" email="fabian.ceballos@cf-creations.com">
Fabián Ceballos
</author>

<icon src="login_logo.jpg" gap:role="default" />

<!--Plugin de notificaciones -->
	<gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.phonegap.plugins.pushplugin"/> 
    <access origin="*" /> 

</widget>
