<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.CazaOfertas"
    version   = "1.1.1">

<name>CazaOfertas</name>

<description>
Aplicación para buscar las mejores ofertas cercanas!
</description>

<author href="https://wwww.cazaofertasapp.com.co" email="fabian.ceballos@cazaofertasapp.com.co">
Fabián Ceballos
</author>

<icon src="logo.png" gap:role="default" />
<preference name="android-minSdkVersion"    value="7" />
<preference name="android-targetSdkVersion" value="11" /> 
<gap:plugin name="org.apache.cordova.inappbrowser" />
<!--Plugin de notificaciones -->
	<gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.phonegap.plugins.pushplugin"/> 
    <access origin="*" /> 

</widget>
